#header {
    max-height: 100px;
}

#app-title {
    margin-bottom: 0 !important;
}

.menu-item {
    border-radius: 0 !important;
    background-color: #ffffff !important;
}

#working-area {
    margin-left: 0 !important;
}

#toolbar {
    max-width: 10rem !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.network-component-sprite {
    /*background-color: blue;*/
}

.sprite-div-img {
    pointer-events: none;
}

#canvas {
    padding: 0 !important;
    position: relative;
}

