#header {
    max-height: 100px;
}

#app-title {
    margin-bottom: 0 !important;
}

.menu-item {
    border-radius: 0 !important;
    background-color: #ffffff !important;
}

#working-area {
    margin-left: 0 !important;
}

#toolbar {
    max-width: 10rem !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.network-component-sprite {
    /*background-color: blue;*/
    z-index: 25;
}

.sprite-div-img {
    pointer-events: none;
}

.cable-description {
    width: 100px;
    font-size: 10pt;
}

#canvas {
    padding: 0 !important;
    position: relative;
}

.selected-component {
    filter: drop-shadow(0px 0px 20px #af6f6f);
}


.sidebar {
    width: 480px;
    position: fixed;
    right: -480px;
    top: 0;
    box-shadow: -1px 0 10px #eeeeee;
    overflow-y: scroll;
    z-index: 10;
}

.sidebar-hide {
    transform: translate(480px, 0);
    transition: all ease-in 300ms;
}

.sidebar-show {
    transform: translate(-480px, 0);
    transition: all ease-in 300ms;
}